---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Blog" description="Blogs de música, página de venta de guitarras y cursos">
	<main class="contenedor">
		<div class="heading">Blog</div>
	</main>
</Layout>

<style>
	
</style>