---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Inicio" description="Pagina de Venta de Guitarras y cursos">
	<main class="contenedor">
		<div class="heading">Inicio</div>
	</main>
</Layout>

<style>
	
</style>
