---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Nosotros" description="Sobre Nosotros, GuitarLa página de venta de productos y cursos">
	<main class="contenedor">
		<div class="heading">Nosotros</div>
	</main>
</Layout>

<style>
	
</style>