---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Tienda" description="Pagina de Venta de Guitarras">
	<main class="contenedor">
		<div class="heading">Tienda</div>
	</main>
</Layout>

<style>
	
</style>